{% extends 'base.html' %} 

{% block head %}
<title>Pizza</title>
{% endblock %} 

{% block body %}
<h1>Pizza Shop</h1>
<h2>We have the best pizzas in the world for the biggest price!</h2>

{% if not request.cookies %}
  <h3>What is your name?</h3>
  <form action="/setcookie" method="POST">
    <input type="text" name="name" id="name">
    <input type="submit" value="Login">
  </form>
{% elif request.cookies['name'] == 'admin' %}
  <h3>Admin API</h3>
  <form action="/api" method="POST">
    <input type="text" name="price" id="price">
    <input type="text" name="id" id="id">
    <input type="submit" value="submit">
    <-- Remove this comment to add the anti CSRF tokens >
  </form>
{% else %}
  <h3>Hello {{request.cookies['name']}}!</h3>
{% endif %}

<h3 id="name"></h3>
<div class="row">
  <div class="column">
    <img
      src="https://media.onebite.app/58/45/86/6b/5845866b-066d-4730-a7f1-979260128b12.jpg"
      alt="Snow"
      style="width: 100%"
    />
    <h1>Veggie Mess</h1>
    <h1 id="p1">100$</h1>
  </div>
  <div class="column">
    <img
      src="https://media.onebite.app/b1/a8/1d/41/b1a81d41-4d20-4f1b-8c78-4f3196e0eb4f.jpg"
      alt="Forest"
      style="width: 100%"
    />
    <h1>Marshmallow Delicacy</h1>
    <h1 id="p2">100$</h1>
  </div>
  <div class="column">
    <img
      src="https://media.onebite.app/72/8a/7f/4e/728a7f4e-20c1-4ea8-8feb-d9a35f38b5d8.jpg"
      alt="Mountains"
      style="width: 100%"
    />
    <h1>Todd's Old Pizza</h1>
    <h1 id="p3">100$</h1>
  </div>
</div>


{% endblock %}
